body{
    height:100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: #0099CC;
}

.form-container {
    max-width:320px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: transparent;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(20px);
    background-color: white;
}

.form-header {
    text-align: center;
    margin-bottom: 25px;
    width: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    padding:15px 20px ;
    width: 100%;
    border-radius: 30px;
    border: 0px solid white;
    box-shadow: 0 0 5px black;
    margin-bottom: 20px;
    background: transparent;
    font-size: 1rem;
    outline: none;
    color: black;
}

.input-container input:hover{
    border: 2px solid rgba(0, 0, 0, 0.304);
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

input::placeholder {
    color: gray;
    font-size: 0.8rem;
}

.submit {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: 0px solid ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.804); 
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 900;
    background: lightgray;
    cursor: pointer;
}

.submit:hover {
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.662);
}

